*{margin:0; padding: 0;}

body{background: #F3F3F3;}
header#hd, footer#fo{width: 900px; height: 50px; margin: 0 auto 10px; color: #FF9201; font-size:20px; font-family: Tahoma, Verdana; 
text-align: center;}
footer#fo{width: 300px; height: 30px;}
section#game{width: 600px; height: 380px; background: #555555; margin: 0 auto 10px; border-radius: 5px; padding-top: 40px;}
div#inside{width: 450px; height: 350px; margin: 0 auto;}
div.xo{background: #F0F0EF; width: 100px; height: 90px; margin:0 25px 15px; float: left; 
border-radius: 5px; cursor: pointer; text-align: center; font-family: Tahoma,Verdana; color: #FF9201; font-size: 60px; padding-top:10px;}
#now{font-size: 30px;}
.win {font-size: 30px;}